<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>カテゴリ一覧</title>
    </head>
    <body>
        <h1>カテゴリ一覧</h1>
        <a th:href="@{/dashboard}">ダッシュボードに戻る</a>
        <a th:href="@{/category/new}">新規登録</a>
        <a th:href="@{/budgets/categoryBudget}">カテゴリ別予算一覧</a>
        <p th:if="${errorMessage}" th:text="${errorMessage}">すでに登録されています</p>

        <table>
            <thead>
                <tr>
                    <th>カテゴリ名</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="category : ${categories}">
                    <td th:text="${category.name}"></td>
                    <td>
                        <a th:href="@{/category/edit/{categoryId}(categoryId=${category.id})}">編集</a>
                    </td>
                    <td>
                        <form th:action="@{/category/{categoryId}/delete(categoryId=${category.id})}"
                                method="post"
                                onsubmit="return confirm('カテゴリを削除しますか')">
                            <button type="submit">削除</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>