<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>お支払い登録</title>
    </head>
    <body>
        <h1>お支払い登録</h1>
        <form th:action="${expenditureId} == null
                    ? @{/expenditures}
                    : @{/expenditures/edit/{id}(id=${expenditureId})}"
                    th:object="${expenditureForm}"
                    method="post">
            <label for="name">支出名:</label>
            <input type="text" id="name" th:field="*{name}" required><br>

            <label for="expenditureDate">支払日:</label>
            <input type="date" id="expenditureDate" th:field="*{expenditureDate}" required><br>

            <label for="amount">金額:</label>
            <input type="number" id="amount" th:field="*{amount}" required><br>

            <label for="categoryId">カテゴリ:</label>
            <select id="categoryId" th:field="*{categoryId}" required>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select><br>

            <label for="paymentMethodId">支払い方法:</label>
            <select id="paymentMethodId" th:field="*{paymentMethodId}" required>
                <option th:each="paymentMethod : ${paymentMethods}" th:value="${paymentMethod.id}" th:text="${paymentMethod.name}"></option>
            </select><br>

            <button type="submit"
                    th:text="${expenditureId} == null ? '登録' : '更新'"></button>
            <button type="button" onclick="location.href='/expenditures'">キャンセル</button>
        </form>
    </body>
</html>